<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa-regular fa-compass"></i> WONDER-LUST
        </a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- Left side links -->
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Add New Listing</a>
            </div>

            <!-- Right side links -->
            <div class="navbar-nav ms-auto">
                <% if(!currentUser){ %>
                    <a class="nav-link" href="/signup">Sign up</a>
                    <a class="nav-link" href="/login">Login</a>
                <% } else { %>
                    <span class="nav-link">Welcome, <%= currentUser.username %></span>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
