<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOYO</title>
</head>
<body>
    <h3> Create a new Listing</h3>
   <form method="POST" action="/listings">
  <input name="listing[title]" placeholder="Enter title" required>
  <br><br>

  <textarea name="listing[description]" placeholder="Enter description"></textarea>
  <br><br>

  <input name="listing[image][url]" placeholder="Image URL" required>
  <br><br>

  <input name="listing[image][filename]" placeholder="Image Filename" required>
  <br><br>

  <input name="listing[price]" type="number" placeholder="Enter price">
  <br><br>

  <input name="listing[country]" placeholder="Enter country name">
  <br><br>

  <input name="listing[location]" placeholder="Enter location">
  <br><br>

  <button type="submit">Add</button>
</form>


    
</body>
</html>